/*Regole di Reset*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul,
ol,
menu {

    list-style: none;

}

body {
    font-family: 'Open Sans', sans-serif;
}


.text_cut {
    text-decoration: line-through;
}